.image-uploader-buttons > button:not(:first-of-type) {
  margin-left: 20px;
}
.image-uploader-image {
  height: 300px;
  overflow: hidden;
  padding: 10px 20px;
  text-align: center;
}
.image-uploader-image > img {
  height: 300px;
  cursor: pointer;
}
