.image-uploader-buttons {
  text-align: center;
}
.image-uploader-buttons > button {
  margin: 0 5px;
}
.image-uploader-image {
  padding: 10px 0;
  overflow: hidden;
  text-align: center;
}
.image-uploader-image > img {
  cursor: pointer;
}

.required-button::before {
  display: inline-block;
  margin-right: 4px;
  color: #f5222d;
  font-size: 14px;
  line-height: 1;
  content: '*';
}
